@import url("../../../../global/styles/base.css"); 
@import url("../../../../global/navbar/assets/styles/navbar.css");
@import url("../../../../global/footer/assets/styles/footer.css");

body{
margin: 0%;
}

.paginaDoacaoApresentacao {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 12rem;
    width: 100vw;
    height: 100vh;
    padding-inline: 7%;
    border: 6.25rem;
    background-color: rgba(26, 28, 43, 1);
    margin-top: 2rem;

}

.paginaDoacaoApresentacao h1 {
    width: 46.8125rem;
    color: rgba(94, 136, 252, 1);
    font-family: Poppins;
    font-size: 4.0rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.paginaDoacaoApresentacao p {
    width: 46rem;
    color: #E9F2FC;
    font-family: Poppins;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.paginaDoacaoApresentacao button {
    padding: 1.6rem;
    border-radius: 1.6rem;
    background: var(--primary-color);
    font-weight: var(--fw-medium);
    font-size: var(--fsize-text);
    font-family: Poppins;
    color: var(--text-color);
    border: none;
    margin-top: 3rem;
}

.paginaDoacaoApresentacao img {
    width: 38.4375rem;
    height: 25rem;
}

.paginaDoacaoAcoes {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgba(43, 48, 73, 1);
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding-inline: 7%;
    gap: 3rem;
}

.paginaDoacaoAcoes div {
    height: 45rem;
}


#doacaoDivDoeValor {
   width: 37.8rem;
}


#doacaoDivDoeValor p{
    width: 34rem;
}

#doacaoDivDoeValor h1{
    margin-top: -1rem;
}

#doacaoDivMoveis p{
    width: 34rem;
}

#doacaoDivMoveis {
    height: auto;
}

#doacaoDivParceria {
    width: auto;
}

#doacaoDivParceria p{
    width: 24.4rem;
}



.paginaDoacaoAcoes h1 {
    color: #5E88FC;
    font-family: Poppins;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 1.4rem;
}

.paginaDoacaoAcoes p {
    color: #E9F2FC;
    font-family: Poppins;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.paginaDoacaoAcoes button {
    padding: 1.6rem;
    border-radius: 1.6rem;
    height: 5rem;
    background: var(--primary-color);
    font-weight: var(--fw-medium);
    font-size: var(--fsize-text);
    font-family: Poppins;
    color: var(--text-color);
    border: none;
    margin-top: 3rem;
    text-align: center;
}

#btnDonateFurniture{
width: 17.8rem;
}

#btnParcerias{
    width: 17.8rem;
}

button:hover{
    background-color: rgb(92, 133, 255);
}

@media screen and (max-width: 830px){
    .paginaDoacaoApresentacao{
        height: 100vh;
        width: 100vw;
        flex-direction: column;

    }
}

@media screen and (max-width: 830px){
    .paginaDoacaoAcoes{
        height: 100vh;
        width: 100vw;
        flex-direction: column;
    }
}