@import url("./missa-visa-valores.css");
@import url("./equipeCards.css");
@import url("./quemSomos.css");

/* RESETS */
button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  font-family: inherit;
  color: inherit;
  cursor: pointer;
}

.main_section {
  background: var(--primary-bg-color);
  padding-inline: 7%;
}

.main_container {
  min-height: 93vh;
  margin-top: 10rem;
  margin-bottom: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
}

.main_text {
  width: 46rem;
  margin-top: 1rem;
}

.main_text h1 {
  font-size: var(--fsize-title);
  font-weight: var(--fw-semi-bold);
  color: var(--secondary-color);
  margin-bottom: 0.5rem;
}

.main_text p {
  font-size: var(--fsize-text);
  font-weight: var(--fw-normal);
  color: var(--text-color);
  margin-bottom: 2rem;
}

.volunteers_button {
  background: var(--primary-color);
  padding: 1.6rem;
  border-radius: 1.6rem;
  font-size: calc(var(--fsize-text-small) + 0.1rem);
  color: var(--text-color);
  transition: 0.3s ease-in-out;
}

.volunteers_button:hover {
  background: var(--secondary-color);
  transition: 0.3s ease-in-out;
}