@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* VARIABLES */
:root {
  /* FONTS */
  --font-family: 'Poppins', sans-serif;
  --fw-normal: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fsize-title: 4rem;
  --fsize-subtitle: 3.5rem;
  --fsize-text: 1.6rem;
  --fsize-text-small: 1.4rem;
  /* COLORS */
  --primary-color: #4A6CC9;
  --secondary-color: #5E88FC;
  --tertiary-color: #2B3049;
  --text-color: #E9F2FC;
  --primary-bg-color: #151723;
  --secondary-bg-color: #1A1C2B;
  --placeholder-color: #667085;
}

/* RESETS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

ul {
  list-style: none;
}

img {
  user-select: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-size: 1.6rem;
  font-family: var(--font-family);
  height: 100vh;
  background: var(--secondary-bg-color);
}

/* NAVBAR */
.nav {
  height: 10rem;
  padding-inline: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  background: var(--primary-bg-color);
  width: 100%;
}

.nav_list {
  display: flex;
  align-items: center;
  gap: 5rem;
  font-size: 1.8rem;
  color: var(--text-color);
  font-weight: var(--fw-medium);
}

.nav_list a {
  padding-block: 1.6rem;
}

.clicked {
  color: var(--secondary-color);
}

.menu_hamburger {
  display: none;
  opacity: 0;
  color: transparent;
}

.close_menu {
  display: none;
  opacity: 0;
  color: transparent;
}

/* Media queries */
@media (max-width: 1060px) {
  .nav_list {
    font-size: var(--fsize-text);
    gap: 3rem;
  }

  .logo {
    width: 20rem;
  }
}

/* MEDIA 810px */
@media (max-width: 810px) {
  .nav_list {
    top: 0;
    left: 0;
    position: absolute;
    flex-direction: column;
    background: #15172369;
    clip-path: circle(100px at 90% -20%);
    transition: 1s ease-out;
    pointer-events: none;
    backdrop-filter: blur(0.7rem);
    width: 100vw;
    height: 100vh;
    justify-content: center;
    gap: 6rem;
  }


  .nav_list a {
    opacity: 0;
  }

  .nav_list li:nth-child(1) a {
    transition: 0.5s 0.2s ease-in-out;
  }

  .nav_list li:nth-child(2) a {
    transition: 0.5s 0.4s ease-in-out;
  }

  .nav_list li:nth-child(3) a {
    transition: 0.5s 0.6s ease-in-out;
  }

  .nav_list li:nth-child(4) a {
    transition: 0.5s 0.8s ease-in-out;
  }

  .nav_list li:nth-child(5) a {
    transition: 0.5s 0.9s ease-in-out;
  }

  .nav_list.mobile_menu a {
    opacity: 1;
  }

  .menu_hamburger {
    display: block;
    opacity: 1;
    z-index: 1;
    font-size: 3.5rem;
    color: var(--text-color);
    transition: .5s;
  }

  .close_menu {
    position: absolute;
    right: 10%;
    z-index: 1;
    font-size: 3.5rem;
    color: var(--text-color);
    transition: .5s;
  }

  .nav_list.mobile_menu {
    clip-path: circle(1500px at 90% -20%);
    pointer-events: all;
  }

  .logo {
    width: 17rem;
  }
}